@model ToDoList.Models.Settings
<h1>Settings</h1>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div>
                <h5>List of priorities:</h5>
                <div class="form-row">
                    @using (Html.BeginForm("AddNewPriority", "Settings"))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PriorityName, new { @class = "form-control", @placeholder = "New Priority" })
                        </div>
                        <p style="color:red">@TempData["ErrorPriority"]</p>
                        <button id="SavePriority" type="submit" class="btn btn-sm btn-primary">Add a new priority</button>
                    }
                </div>
                <table id="Priorities" class="table table-striped mt-3">
                    @foreach (var priority in Model.JobPriorities)
                    {
                        <tr>
                            <td>@priority.Name</td>
                            <td>
                                <button data-Priority-id="@priority.Id" class="btn btn-primary btn-sm js-delete-type">Delete</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <h5>List of statuses:</h5>
                <div class="form-row">
                    @using (Html.BeginForm("AddNewStatus", "Settings"))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.StatusName, new { @class = "form-control", @placeholder = "New Status" })
                        </div>
                        <p style="color:red">@TempData["ErrorStatus"]</p>
                        <button id="SaveStatus" type="submit" class="btn btn-sm btn-primary">Add a new status</button>
                    }
                </div>
                <table id="Statuses" class="table table-striped mt-3">
                    @foreach (var status in Model.JobStatuses)
                    {
                        <tr>
                            <td>@status.Name</td>
                            <td>
                                <button data-Status-id="@status.Id" class="btn btn-primary btn-sm js-delete-status">Delete</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        //ajax delete task priority
        $(document).ready(function () {
            $("#Priorities").on("click", ".js-delete-type", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "Do you want to delete this priority?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-secondary'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Settings/DeletePriority/" + button.attr("data-Priority-id"),
                                dataType: "json",
                                method: "DELETE",
                                success: function (Message) {
                                    if (Message == "") {
                                        button.parents("tr").remove();
                                    }
                                    else {
                                        bootbox.alert(Message);
                                    }
                                }
                            });
                        }
                    }
                });

            });
        });

        //ajax delete task status
        $(document).ready(function () {

            $("#Statuses").on("click", ".js-delete-status", function () {
                var button = $(this);
                bootbox.confirm({
                    message: "Do you want to delete this status?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-secondary'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Settings/DeleteStatus/" + button.attr("data-Status-id"),
                                dataType: "json",
                                method: "DELETE",
                                success: function (Message) {
                                    if (Message == "") {
                                        button.parents("tr").remove();
                                    }
                                    else {
                                        bootbox.alert(Message);
                                    }
                                }
                            });
                        }
                    }
                });

            });
        });

    </script>
}